<div id="id_div_wrapper_window_contact_me">

	<div class="class_div_darkening_background_for_window_contact_me"></div>

	<div class="class_div_window_contact_me">

		<div id="id_bt_close_in_window_contact_me">Закрыть</div>

		<div class="class_div_content_in_window_contact_me">
			<div id="id_div_my_contacts">
				<p><h3>Email:</h3> rwr_pavel@mail.ru</p>
				<p><h3>Skype:</h3> Hazius</p>
			</div>
			<div id="id_div_form_send_email">
				<h3>Отправить мне письмо на почту:</h3>			
				<%= render "form_send_email" %>	
			</div>		
		</div>

	</div>

</div>