<div id="id_div_wrapper">

	<br><br>

	<div id="id_div_my_foto">
		<h2>Павел</h2>
		<p>Возраст: <%= Time.now.year.to_i - 1990 %> года.</p>
		<p>Город: Липецк</p>
		<%= image_tag("my_foto.jpg", html_options = { class: "class_my_foto" } ) %>
	</div>

	<div id="id_div_desired_rate">		
		<h2>Желаемый рейт: 3$/час</h2>
	</div>

	<div id="id_div_skills">
		Скиллы:
		<ul>
			<li>Ruby on Rails</li>	
			<li>HTML</li>
			<li>SCSS и CSS</li>
			<li>Понимание принцепов TDD</li>
			<li>Основы RSpec+Capybara (Понимание, что тесты не пустая трата времени)</li>
			<li>Основы git+GitHub</li>
			<li>English уровень Pre-Intermediate (в процессе изучения)</li>
			<li>Усидчивость, стремление, самообучаемость, терпеливость</li>
		</ul>
	</div>

	<div class="class_clear"></div>

	<div id="id_div_about_me">
		Обо мне и моих взглядах:
		<ul>

			<li>1) Разработка на C# (работал 6 месяцев)
					6 месяцев разработки (и доведения до конца) 2 клиент серверных (многопоточных) приложения на С#:
					1) Сетевая игра в шашки
					2) Приложение по тестированию знананий с отправкой серверу результатов (клиент и сервер писал сам)
					Итог: очень интересовало, но дальнейшую работу не нашел.
			</li>

			<li>2) Разработка PHP
					Пару недель мучал php. После "dot net" пришел к выводу, что кодинг на php это не мое.
			</li>

			<li>3) ASP.NET MVC
					Штука хорошая, не успел втянуться, работы в городе не нашел.
			</li>

			<li>4) ABAP (SAP) (работаю больше года)			
					Работаю с 01.02.13 по настоящее время...
					Вещь очень специфичная. Как я понимаю одна из самых оплачиваемых в отрасли кодинга... Все бы ниче но это ОЧЕНЬ скучная, нудная и мало творческая работа. Карьерные перспективы определенно есть. Но душа не очень лежит. Я думаю со мной разделят данную точку зрения многие, программирующие на ABAP под задачи SAP...
			</li>

			<li>5) И вот, наконец, мы подобрались к RoR
					Активно изучаю 4 месяца, времени не хватает, сижу почти каждый будний вечер после основной работы. Перелопатил Ruby on Rails Tutorial. По-чесному, прочитал все, изучил процентов на 70, 1-8 главы разобрал почти каждую строчку (закрепил практикой), 9-11 в активном процессе перечитывания и вникания в каждый обсуждаемый аспект.
			</li>

		</ul>

	</div>

	<br><br>

</div>


