// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$zolotoi: #FAA21A;
$black: #000000;
$green: #008000;
$red: #FF0000;


h2 {
	margin: 0;
}

@mixin kontor_bloka
{
	//outline: 1px solid $zolotoi; //kontor bloka;
}

@mixin kryglue_yglu
{
	border-radius: 30px;
	box-shadow: 0 0 300px #008000;
}

.class_message_success {
	color: $green;
}

.class_message_error {
	color: $red;
}


#id_div_wrapper {
	@include kryglue_yglu;
	width: 1000px;
	//height: 700px;
	margin: 100px auto;
}

.class_clear {	
	clear: both;
}

#id_div_desired_rate {
	margin-left: 500px;
	width: 500px;
	height: 50px;
	@include kontor_bloka;
}

#id_div_skills {
	margin-left: 500px;
	width: 500px;
	height: 450px;
	@include kontor_bloka;
}

#id_div_story_about_me {
	width: 800px;
	//height: 500px;
	margin: 0 auto;
}

//Информация обо мне (данные, аватар и кнопка связи со мной)

#id_my_information {
	float: left;
	width: 500px;
	height: 500px;
	//text-align: center;	
	@include kontor_bloka;
}

#id_short_about_me {
	width: 200px;
	height: 500px;
	float: left;
	text-align: center;	
	margin-left: 50px;
	@include kontor_bloka;
}

.class_my_foto {
  	width: 200px;
	height: 250px;   
	//margin-left: 50px;
}

#id_bt_contact_me {
	width: 250px;
	height: 250px;
	@include kontor_bloka;

	&:hover {
		cursor: pointer;
	}
}
