// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$zolotoi: #FAA21A;
$black: #000000;
$green: #008000;
$red: #FF0000;


h2 {
	margin: 0;
}

@mixin kontor_bloka
{
	//outline: 1px solid $zolotoi; //kontor bloka;
}

@mixin kryglue_yglu
{
	border-radius: 30px;
	box-shadow: 0 0 300px #008000;
}

.class_message_success {
	color: $green;
}

.class_message_error {
	color: $red;
}


#id_div_wrapper {
	@include kryglue_yglu;
	width: 1000px;
	//height: 700px;
	margin: 100px auto;
}

.class_clear {	
	clear: both;
}

#id_div_desired_rate {
	margin-left: 500px;
	width: 500px;
	height: 50px;
	@include kontor_bloka;
}

#id_div_skills {
	margin-left: 500px;
	width: 500px;
	height: 450px;
	@include kontor_bloka;
}

#id_div_story_about_me {
	width: 800px;
	//height: 500px;
	margin: 0 auto;
}

//Информация обо мне (данные, аватар и кнопка связи со мной)

#id_my_information {
	float: left;
	width: 500px;
	height: 500px;
	//text-align: center;	
	@include kontor_bloka;
}

#id_short_about_me {
	width: 200px;
	height: 500px;
	float: left;
	text-align: center;	
	margin-left: 50px;
	@include kontor_bloka;
}

.class_my_foto {
  	width: 200px;
	height: 250px;   
	//margin-left: 50px;
}

#id_bt_contact_me {
	width: 250px;
	height: 250px;
	@include kontor_bloka;

	&:hover {
		cursor: pointer;
	}
}



//////
// ПОЯВЛЯЮЩИЕСЯ БЛОК С ИНФОРМАЦИЕЙ ДЛЯ СВЯЗИ СО МНОЙ:
//////

$biruzovuy: #00CED1;
$white: #ffffff;
$black: #000000;

// Обертка для включения и выключения блока:
#id_div_wrapper_window_contact_me {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}

//Блок затемнения фона:
.class_div_darkening_background_for_window_contact_me {
	background: #000;
	height: 100%;
	width: 100%;
	opacity: 0.80;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;	
	//display: none;
}

// Блок всего окна "Связаться со мной"
.class_div_window_contact_me {
	background-color: white;
	height: 500px;
	width: 900px;
	//opacity: 1.00;
	position: fixed;
	top:10%;
	left:20%;
	z-index: 150;
	color: #000;
	outline: 10px solid #000; //kontor bloka;

	//display: none;
}

// Кнопка Close:
#id_bt_close_in_window_contact_me {
	height: 5%;
	width: 50%;
	margin: 0 25%;
	background-color: #000;
	font-size: 16pt;
	text-align: center;
	color: $white;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;

	&:hover {
		cursor: pointer;
		color: $biruzovuy;
	}
}

// Контент блока:
.class_div_content_in_window_contact_me {
	//padding: 10%;
	height: 95%;
	width: 100%;
	font: 30pt;

}

#id_div_my_contacts {
	margin-left: 50px;
	float: left;
	height: 400px;
	width: 200px;
	outline: 3px solid $black; //kontor bloka;
}

#id_div_form_send_email {
	height: 400px;
	width: 600px;
	margin-left: 280px;
	outline: 3px solid $black; //kontor bloka;
}


